<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.gbif.registry2.ims.ImsNodeMapper">
  
  <!-- Auto-mapping and eager loading of sub resources  -->
  <resultMap id="NODE_MAP" type="Node" autoMapping="true">
    <id property="country" column="country"/>
    <!--
    <collection property="contacts" column="key" select="listContacts"/>
    <collection property="comments" column="key" select="listComments"/>
    -->
  </resultMap>
  
  <select id="get" resultType="Node" resultMap="NODE_MAP">
    SELECT c.ISO2 AS country, n.Name_Full AS title, n.Name_Acronym, n.URL AS homepage,
      p.GBIFmembership, p.Member_AsOf AS participationSince, p.Member_Status, p.Name_Full,
      p.Name_Short, p.Host_URL, p.zz__Modified_Timestamp__lxm AS modified, r.Region,
      i.Address AS address, i.City AS city, i.ZipCode AS postalCode, i.State AS province, i.Telephone AS phone, i.Email AS email
    FROM "__Node" n
      JOIN "__Participant" p ON n."_kf_ParticipantID" = p."__kp_ID"
      JOIN "__Region" r ON p."_kf_RegionID" = r."__kp_ID"
      JOIN "__Country" c ON p."_kf_CountryID" = c."__kp_ID"
      JOIN "__Institution" i ON p."_kf_InstitutionID" = i."__kp_ID"

    WHERE (GBIFmembership='Voting Participant' OR GBIFmembership='Associate Country Participant') AND c.ISO2 = #{key.getIso2LetterCode()}
  </select>  

  <!--
  <select id="listContacts" resultType="Contact">
    SELECT <include refid="org.gbif.registry2.persistence.mapper.ContactMapper.CONTACT_FIELDS"/>
    FROM contact INNER JOIN node_contact ON contact_key = key
    WHERE node_key = #{targetEntityKey,jdbcType=OTHER}
    ORDER BY created
  </select>
  -->

</mapper>