<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.gbif.registry2.ims.ImsNodeMapper">
  
  <!-- Auto-mapping and eager loading of sub resources  -->
  <resultMap id="NODE_MAP" type="Node" autoMapping="true">
    <id property="country" column="country"/>
    <result property="" column="" />
    <collection property="contacts" column="imsId" select="listContacts"/>
  </resultMap>
  
  <!-- Auto-mapping and eager loading of sub resources  -->
  <resultMap id="CONTACT_MAP" type="Contact" autoMapping="true">
    <id property="key" column="cid"/>
    <result property="position" column="job_position" />
  </resultMap>

  <select id="get" resultType="Node" resultMap="NODE_MAP">
    SELECT p."__kp_ID" AS imsId, c.ISO2 AS country, n.Name_Full AS title, n.Name_Acronym, n.URL AS homepage,
      p.GBIFmembership, p.Member_AsOf AS participationSince, p.Member_Status, p.Name_Full,
      p.Name_Short, p.Host_URL, p.zz__Modified_Timestamp__lxm AS modified, r.Region,
      i.Address AS address, i.City AS city, i.ZipCode AS postalCode, i.State AS province, i.Telephone AS phone, i.Email AS email
    FROM "__Node" n
      JOIN "__Participant" p ON n."_kf_ParticipantID" = p."__kp_ID"
      JOIN "__Region" r ON p."_kf_RegionID" = r."__kp_ID"
      JOIN "__Country" c ON p."_kf_CountryID" = c."__kp_ID"
      JOIN "__Institution" i ON p."_kf_InstitutionID" = i."__kp_ID"
	
    WHERE (GBIFmembership='Voting Participant' OR GBIFmembership='Associate Country Participant') AND p."__kp_ID" = #{imsId}
  </select>  

  <select id="listContacts" resultType="Contact" resultMap="CONTACT_MAP">
      SELECT pc."_kf_ContactID" AS cid, pc."_kf_ParticipantID", pc."_kf_NodeID",
           c.Name_First AS first_name, c.Name_Last AS last_name, gr.Name AS type,
           c.Address, c.City, c.ZipCode, ca.Name AS country, i.Name_Full__lct AS organization,
           c.Email AS email, c.Fax, c.Phone_And_Phone__lct AS phone, c.URL AS homepage,
           c.Job_Position AS "position", c.Job_Description AS description,
           c."zz__Created_Account__lxt" AS created_by, c."zz__Created_Timestamp__lxm" AS created,
           c."zz__Modified_Account__lxt" AS modified_by, c."zz__Modified_Timestamp__lxm" AS modified
      FROM "__ContactGrouproleNodeParticipant" pc
        JOIN "__Contact" c ON pc."_kf_ContactID" = c."__kp_ID"
        LEFT JOIN "__Grouprole" gr ON pc."_kf_GrouproleID" = gr."__kp_ID"
        LEFT JOIN "__Country" ca ON c."_kf_CountryID_Address" = ca."__kp_ID"
        LEFT JOIN "__Institution" i ON c."_kf_InstitutionID" = i."__kp_ID"
      WHERE pc."_kf_ParticipantID" = #{imsId}
      ORDER BY 1
  </select>

</mapper>