<div class="span4">
    
  <div class="content">
    <a target="_blank" href="http://uat.gbif.org/node/{{$stateParams.nodeKey}}"><h5>{{node.title}}</h5></a>
    <p class="muted"><small>View the node on the public portal</small></p> 
  </div>
  
  <ul class="nav side-nav nav-tabs nav-stacked">
    <li ng-class="{active: $state.includes('node.detail') || $state.includes('node.edit')}"><a href="" ng-click="transitionTo('detail')">Overview <i class="icon-chevron-right"></i></a></li>
    <li ng-class="{active: $state.includes('node.endpoint')}"><a href="" ng-click="transitionTo('endpoint')">Endpoints ({{counts.endpoint}}) <i class="icon-chevron-right"></i></a></li>
    <li ng-class="{active: $state.includes('node.identifier')}"><a href="" ng-click="transitionTo('identifier')">Identifiers ({{counts.identifier}}) <i class="icon-chevron-right"></i></a></li>
    <li ng-class="{active: $state.includes('node.tag')}"><a href="" ng-click="transitionTo('tag')">Tags ({{counts.tag}}) <i class="icon-chevron-right"></i></a></li>
    <li ng-class="{active: $state.includes('node.machinetag')}"><a href="" ng-click="transitionTo('machinetag')">Machine tags ({{counts.machinetag}}) <i class="icon-chevron-right"></i></a></li>
    <li ng-class="{active: $state.includes('node.comment')}"><a href="" ng-click="transitionTo('comment')">Comments ({{counts.comment}}) <i class="icon-chevron-right"></i></a></li>
    <!--li><a href="#" class="alert-error"><i class="icon-warning-sign"></i> Pending endorsements (1)<i class="icon-chevron-right"></i></a></li>
    <li><a href="#">Endorsed organisations (3) <i class="icon-chevron-right"></i></a></li>
    <li><a href="#">Endorsed datasets (323) <i class="icon-chevron-right"></i></a></li>
    <li><a href="#">Change history (12) <i class="icon-chevron-right"></i></a></li-->
  </ul>
</div>
<div class="span8">
  <div class="content" ui-view></div>
</div>