<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.gbif.registry.persistence.mapper.InstallationMapper">
  
  <!-- Auto-mapping and eager loading of sub resources  -->
  <resultMap id="INSTALLATION_MAP" type="Installation" autoMapping="true">
    <id property="key" column="key"/>
    <collection property="contacts" column="key" select="listContacts"/>
    <collection property="endpoints" column="key" select="listEndpoints"/>
    <collection property="machineTags" column="key" select="listMachineTags"/>
    <collection property="tags" column="key" select="listTags"/>
    <collection property="comments" column="key" select="listComments"/>
  </resultMap>

  <sql id="WRITABLE_INSTALLATION_FIELDS">
    key,organization_key,type,title,description,created_by,modified_by,created,modified
  </sql>
  
  <sql id="INSTALLATION_FIELDS">
    i.key,i.organization_key,i.type,i.title,i.description,i.created_by,i.modified_by,i.created,i.modified,i.deleted
  </sql>
  
  <!-- 
    key, created and deleted are never changed
   -->
  <sql id="INSTALLATION_UPDATE">
    organization_key = #{organizationKey,jdbcType=OTHER},
    type = #{type,jdbcType=OTHER},
    title = #{title,jdbcType=VARCHAR},
    description = #{description,jdbcType=VARCHAR},
    modified_by = #{modifiedBy},
    modified = now()
  </sql>
  
  <sql id="WRITABLE_INSTALLATION_FIELD_TYPES">
    #{key,jdbcType=OTHER},
    #{organizationKey,jdbcType=OTHER},
    #{type,jdbcType=OTHER},
    #{title,jdbcType=VARCHAR},
    #{description,jdbcType=VARCHAR},
    #{createdBy},
    #{modifiedBy},
    now(), <!-- created -->
    now() <!-- modified -->
  </sql>
  
  <!--  Note: you can get entities which are deleted -->
  <select id="get" resultMap="INSTALLATION_MAP">
    SELECT <include refid="INSTALLATION_FIELDS"/>
    FROM installation i
    WHERE i.key = #{key,jdbcType=OTHER}
  </select>  
  
  <insert id="create" parameterType="Installation">
    INSERT INTO installation(<include refid="WRITABLE_INSTALLATION_FIELDS"/>)
    VALUES(<include refid="WRITABLE_INSTALLATION_FIELD_TYPES"/>)
  </insert>  
  
  <!-- For safety, deleted entities are never modified -->
  <update id="update" parameterType="Installation">
    UPDATE installation
    SET <include refid="INSTALLATION_UPDATE"/>
    WHERE key = #{key,jdbcType=OTHER} AND deleted IS NULL
  </update>  
  
  <!-- For safety, should it be already deleted nothing is done -->
  <update id="delete">
    UPDATE installation 
    SET deleted = now()
    WHERE key = #{key,jdbcType=OTHER} AND deleted IS NULL
  </update>  
  
  <!-- Append safe ordering, omitting deleted entities -->
  <select id="list" resultType="Installation"  resultMap="INSTALLATION_MAP" parameterType="Pageable">
    SELECT <include refid="INSTALLATION_FIELDS"/>
    FROM installation i
    WHERE i.deleted IS NULL
    ORDER BY i.created
    <if test="page != null" >
      LIMIT #{page.limit} OFFSET #{page.offset}
    </if>
  </select>  
  
  <select id="count" resultType="Integer">
    SELECT COUNT(*)
    FROM installation 
    WHERE deleted IS NULL
  </select>  
  
  <!-- TAGS -->
  <insert id="addTag">
    INSERT INTO installation_tag(installation_key,tag_key)
    VALUES(
     #{targetEntityKey,jdbcType=OTHER},
     #{tagKey,jdbcType=INTEGER}
    )
  </insert>
  
  <select id="listTags" resultType="Tag">
    SELECT <include refid="org.gbif.registry.persistence.mapper.TagMapper.TAG_FIELDS"/>
    FROM tag INNER JOIN installation_tag ON tag_key = key
    WHERE installation_key = #{targetEntityKey,jdbcType=OTHER}
    ORDER BY created
  </select>
  
  <!-- Joined delete of tag to trigger cascade delete of the join table --> 
  <delete id="deleteTag">
    DELETE FROM tag USING installation_tag 
    WHERE
      tag_key = tag.key AND 
      installation_key = #{targetEntityKey,jdbcType=OTHER} AND tag_key = #{tagKey,jdbcType=INTEGER}
  </delete>
  
  <!-- CONTACTS -->
  <insert id="addContact">
    INSERT INTO installation_contact(installation_key,contact_key, type, is_primary)
    VALUES(
     #{targetEntityKey,jdbcType=OTHER},
     #{contactKey,jdbcType=INTEGER},
     #{type,jdbcType=OTHER},
     #{isPrimary,jdbcType=BOOLEAN}
    )
  </insert>
  
  <select id="listContacts" resultType="Contact">
    SELECT <include refid="org.gbif.registry.persistence.mapper.ContactMapper.CONTACT_FIELDS"/>
    FROM contact INNER JOIN installation_contact ON contact_key = key
    WHERE installation_key = #{targetEntityKey,jdbcType=OTHER}
    ORDER BY created
  </select>
  
  <!-- Joined delete of contact to trigger cascade delete of the join table --> 
  <delete id="deleteContact">
    DELETE FROM contact USING installation_contact 
    WHERE
      contact_key = contact.key AND 
      installation_key = #{targetEntityKey,jdbcType=OTHER} AND contact_key = #{contactKey,jdbcType=INTEGER}
  </delete>  
  
  <!-- ENDPOINTS -->
  <insert id="addEndpoint">
    INSERT INTO installation_endpoint(installation_key,endpoint_key)
    VALUES(
     #{targetEntityKey,jdbcType=OTHER},
     #{endpointKey,jdbcType=INTEGER}
    )
  </insert>
  
  <select id="listEndpoints" resultType="Endpoint">
    SELECT <include refid="org.gbif.registry.persistence.mapper.EndpointMapper.ENDPOINT_FIELDS"/>
    FROM endpoint INNER JOIN installation_endpoint ON endpoint_key = key
    WHERE installation_key = #{targetEntityKey,jdbcType=OTHER}
    ORDER BY created
  </select>
  
  <!-- Joined delete of endpoint to trigger cascade delete of the join table --> 
  <delete id="deleteEndpoint">
    DELETE FROM endpoint USING installation_endpoint
    WHERE
      endpoint_key = endpoint.key AND 
      installation_key = #{targetEntityKey,jdbcType=OTHER} AND endpoint_key = #{endpointKey,jdbcType=INTEGER}
  </delete>    

    <!-- MACHINE TAGS -->
  <insert id="addMachineTag">
    INSERT INTO installation_machine_tag(installation_key,machine_tag_key)
    VALUES(
     #{targetEntityKey,jdbcType=OTHER},
     #{machineTagKey,jdbcType=INTEGER}
    )
  </insert>
  
  <select id="listMachineTags" resultType="MachineTag">
    SELECT <include refid="org.gbif.registry.persistence.mapper.MachineTagMapper.MACHINETAG_FIELDS"/>
    FROM machine_tag INNER JOIN installation_machine_tag ON machine_tag_key = key
    WHERE installation_key = #{targetEntityKey,jdbcType=OTHER}
    ORDER BY namespace
  </select>
  
  <!-- Joined delete of machine_tag to trigger cascade delete of the join table --> 
  <delete id="deleteMachineTag">
    DELETE FROM machine_tag USING installation_machine_tag 
    WHERE
      machine_tag_key = machine_tag.key AND 
      installation_key = #{targetEntityKey,jdbcType=OTHER} AND machine_tag_key = #{machineTagKey,jdbcType=INTEGER}
  </delete>   
  
  <!-- COMMENTS -->
  <insert id="addComment">
    INSERT INTO installation_comment(installation_key,comment_key)
    VALUES(
     #{targetEntityKey,jdbcType=OTHER},
     #{commentKey,jdbcType=INTEGER}
    )
  </insert>
  
  <select id="listComments" resultType="Comment">
    SELECT <include refid="org.gbif.registry.persistence.mapper.CommentMapper.COMMENT_FIELDS"/>
    FROM comment INNER JOIN installation_comment ON comment_key = key
    WHERE installation_key = #{targetEntityKey,jdbcType=OTHER}
    ORDER BY created
  </select>
  
  <!-- Joined delete of comment to trigger cascade delete of the join table --> 
  <delete id="deleteComment">
    DELETE FROM comment USING installation_comment
    WHERE
      comment_key = comment.key AND 
      installation_key = #{targetEntityKey,jdbcType=OTHER} AND comment_key = #{commentKey,jdbcType=INTEGER}
  </delete>  
  
</mapper>