<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.gbif.registry.persistence.mapper.NodeMapper">
  
  <!-- Auto-mapping and eager loading of sub resources  -->
  <resultMap id="NODE_MAP" type="Node" autoMapping="true">
    <id property="key" column="key"/>
    <collection property="contacts" column="key" select="listContacts"/>
    <collection property="machineTags" column="key" select="listMachineTags"/>
    <collection property="tags" column="key" select="listTags"/>
    <collection property="comments" column="key" select="listComments"/>
  </resultMap>

  <sql id="NODE_FIELDS">
    key,type,participation_status,gbif_region,continent,title,description,language,email,phone,homepage,logo_url,address,city,province,
    country,postal_code,created,created_by,modified,modified_by,deleted    
  </sql>  
  
  <!-- 
    key, created and deleted are never changed
   -->
  <sql id="NODE_UPDATE">
    type = #{type,jdbcType=OTHER},
    participation_status = #{participationStatus,jdbcType=OTHER},
    gbif_region = #{gbifRegion,jdbcType=OTHER},
    continent = #{continent,jdbcType=OTHER},
    title = #{title,jdbcType=VARCHAR},
    description = #{description,jdbcType=VARCHAR},
    language = #{language,jdbcType=CHAR},
    email = #{email,jdbcType=VARCHAR},
    phone = #{phone,jdbcType=VARCHAR},
    homepage = #{homepage,jdbcType=VARCHAR},
    logo_url = #{logoUrl,jdbcType=VARCHAR},
    address = #{address,jdbcType=VARCHAR},
    city = #{city,jdbcType=VARCHAR},
    province = #{province,jdbcType=VARCHAR},
    country = #{country,jdbcType=CHAR},
    postal_code = #{postalCode,jdbcType=VARCHAR},
    modified = now(),    
    modified_by = #{modifiedBy}
  </sql>
  
  <sql id="NODE_FIELD_TYPES">
    #{key,jdbcType=OTHER},
    #{type,jdbcType=OTHER},
    #{participationStatus,jdbcType=OTHER},
    #{gbifRegion,jdbcType=OTHER},
    #{continent,jdbcType=OTHER},
    #{title,jdbcType=VARCHAR},
    #{description,jdbcType=VARCHAR},
    #{language,jdbcType=CHAR},
    #{email,jdbcType=VARCHAR},
    #{phone,jdbcType=VARCHAR},
    #{homepage,jdbcType=VARCHAR},
    #{logoUrl,jdbcType=VARCHAR},
    #{address,jdbcType=VARCHAR},
    #{city,jdbcType=VARCHAR},
    #{province,jdbcType=VARCHAR},
    #{country,jdbcType=CHAR},
    #{postalCode,jdbcType=VARCHAR},
    now(), <!-- created -->    
    #{createdBy}, 
    now(), <!-- modified -->
    #{modifiedBy},
    NULL <!-- deleted -->
  </sql>
  
  <!--  Note: you can get entities which are deleted -->
  <select id="get" resultType="Node" resultMap="NODE_MAP">
    SELECT <include refid="NODE_FIELDS"/>
    FROM node 
    WHERE key = #{key,jdbcType=OTHER}
  </select>  
  
  <insert id="create" parameterType="Node">
    INSERT INTO node(<include refid="NODE_FIELDS"/>)
    VALUES(<include refid="NODE_FIELD_TYPES"/>)
  </insert>  
  
  <!-- For safety, deleted entities are never modified -->
  <update id="update" parameterType="Node">
    UPDATE node
    SET <include refid="NODE_UPDATE"/>
    WHERE key = #{key,jdbcType=OTHER} AND deleted IS NULL
  </update>  
  
  <!-- For safety, should it be already deleted nothing is done -->
  <update id="delete">
    UPDATE node 
    SET deleted = now()
    WHERE key = #{key,jdbcType=OTHER} AND deleted IS NULL
  </update>  
  
  <!-- Append safe ordering, omitting deleted entities -->
  <select id="list" resultMap="NODE_MAP" parameterType="Pageable">
    SELECT <include refid="NODE_FIELDS"/>
    FROM node 
    WHERE deleted IS NULL
    ORDER BY created
    <if test="page != null" >
      LIMIT #{page.limit} OFFSET #{page.offset}
    </if>
  </select>  
  
  <select id="count" resultType="Integer">
    SELECT COUNT(*)
    FROM node 
    WHERE deleted IS NULL
  </select>  
  
  <!-- TAGS -->
  <insert id="addTag">
    INSERT INTO node_tag(node_key,tag_key)
    VALUES(
     #{targetEntityKey,jdbcType=OTHER},
     #{tagKey,jdbcType=INTEGER}
    )
  </insert>
  
  <select id="listTags" resultType="Tag">
    SELECT <include refid="org.gbif.registry.persistence.mapper.TagMapper.TAG_FIELDS"/>
    FROM tag INNER JOIN node_tag ON tag_key = key
    WHERE node_key = #{targetEntityKey,jdbcType=OTHER}
    ORDER BY created
  </select>
  
  <!-- Joined delete of tag to trigger cascade delete of the join table --> 
  <delete id="deleteTag">
    DELETE FROM tag USING node_tag 
    WHERE
      tag_key = tag.key AND 
      node_key = #{targetEntityKey,jdbcType=OTHER} AND tag_key = #{tagKey,jdbcType=INTEGER}
  </delete>
  
  <!-- CONTACTS -->
  <insert id="addContact">
    INSERT INTO node_contact(node_key,contact_key, type, is_primary)
    VALUES(
     #{targetEntityKey,jdbcType=OTHER},
     #{contactKey,jdbcType=INTEGER},
     #{type,jdbcType=OTHER},
     #{isPrimary,jdbcType=BOOLEAN}
    )
  </insert>
  
  <select id="listContacts" resultType="Contact">
    SELECT <include refid="org.gbif.registry.persistence.mapper.ContactMapper.CONTACT_FIELDS"/>
    FROM contact INNER JOIN node_contact ON contact_key = key
    WHERE node_key = #{targetEntityKey,jdbcType=OTHER}
    ORDER BY created
  </select>
  
  <!-- Joined delete of contact to trigger cascade delete of the join table --> 
  <delete id="deleteContact">
    DELETE FROM contact USING node_contact 
    WHERE
      contact_key = contact.key AND 
      node_key = #{targetEntityKey,jdbcType=OTHER} AND contact_key = #{contactKey,jdbcType=INTEGER}
  </delete>
  
  <!-- MACHINE TAGS -->
  <insert id="addMachineTag">
    INSERT INTO node_machine_tag(node_key,machine_tag_key)
    VALUES(
     #{targetEntityKey,jdbcType=OTHER},
     #{machineTagKey,jdbcType=INTEGER}
    )
  </insert>
  
  <select id="listMachineTags" resultType="MachineTag">
    SELECT <include refid="org.gbif.registry.persistence.mapper.MachineTagMapper.MACHINETAG_FIELDS"/>
    FROM machine_tag INNER JOIN node_machine_tag ON machine_tag_key = key
    WHERE node_key = #{targetEntityKey,jdbcType=OTHER}
    ORDER BY namespace
  </select>
  
  <!-- Joined delete of machine_tag to trigger cascade delete of the join table --> 
  <delete id="deleteMachineTag">
    DELETE FROM machine_tag USING node_machine_tag 
    WHERE
      machine_tag_key = machine_tag.key AND 
      node_key = #{targetEntityKey,jdbcType=OTHER} AND machine_tag_key = #{machineTagKey,jdbcType=INTEGER}
  </delete>  
  
  <!-- COMMENTS -->
  <insert id="addComment">
    INSERT INTO node_comment(node_key,comment_key)
    VALUES(
     #{targetEntityKey,jdbcType=OTHER},
     #{commentKey,jdbcType=INTEGER}
    )
  </insert>
  
  <select id="listComments" resultType="Comment">
    SELECT <include refid="org.gbif.registry.persistence.mapper.CommentMapper.COMMENT_FIELDS"/>
    FROM comment INNER JOIN node_comment ON comment_key = key
    WHERE node_key = #{targetEntityKey,jdbcType=OTHER}
    ORDER BY created
  </select>
  
  <!-- Joined delete of comment to trigger cascade delete of the join table --> 
  <delete id="deleteComment">
    DELETE FROM comment USING node_comment
    WHERE
      comment_key = comment.key AND 
      node_key = #{targetEntityKey,jdbcType=OTHER} AND comment_key = #{commentKey,jdbcType=INTEGER}
  </delete>    
</mapper>