<div class="span4">
    
  <div class="content">
    <a target="_blank" href="http://uat.gbif.org/installation/{{$stateParams.installationKey}}"><h5>{{installation.title}}</h5></a>
    <p class="muted"><small>View the installation on the public portal</small></p> 
  </div>
  
  <ul class="nav side-nav nav-tabs nav-stacked">
    <li ng-class="{active: $state.includes('installation.detail') || $state.includes('installation.edit')}"><a href="" ng-click="transitionTo('detail')">Overview <i class="icon-chevron-right"></i></a></li>
    <li ng-class="{active: $state.includes('installation.contact')}"><a href="" ng-click="transitionTo('contact')">Contacts ({{counts.contact}}) <i class="icon-chevron-right"></i></a></li>
    <li ng-class="{active: $state.includes('installation.endpoint')}"><a href="" ng-click="transitionTo('endpoint')">Endpoints ({{installation.endpoints.length || 0}}) <i class="icon-chevron-right"></i></a></li>
    <li ng-class="{active: $state.includes('installation.identifier')}"><a href="" ng-click="transitionTo('identifier')">Identifiers ({{installation.identifiers.length || 0}}) <i class="icon-chevron-right"></i></a></li>
    <li ng-class="{active: $state.includes('installation.tag')}"><a href="" ng-click="transitionTo('tag')">Tags ({{installation.tags.length || 0 || 0}}) <i class="icon-chevron-right"></i></a></li>
    <li ng-class="{active: $state.includes('installation.machinetag')}"><a href="" ng-click="transitionTo('machinetag')">Machine tags ({{installation.machinetags.length || 0}}) <i class="icon-chevron-right"></i></a></li>
    <li ng-class="{active: $state.includes('installation.comment')}"><a href="" ng-click="transitionTo('comment')">Comments ({{installation.comments.length || 0}}) <i class="icon-chevron-right"></i></a></li>
    <li ng-class="{active: $state.includes('installation.dataset')}"><a href=""  ng-click="transitionTo('dataset')">Served datasets ({{installation.datasets.length || 0}}) <i class="icon-chevron-right"></i></a></li>
    <!--li><a href="#">Change history (12) <i class="icon-chevron-right"></i></a></li-->
  </ul>
</div>
<div class="span8">
  <div class="content" ui-view></div>
</div>