<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.gbif.registry2.persistence.mapper.ContactMapper">
  
  <sql id="WRITABLE_CONTACT_FIELDS">
    name,description,position,email,phone,organization,address,city,province,country,postal_code,created,created_by,modified,modified_by
  </sql>
  
  <sql id="CONTACT_FIELDS">
    key,<include refid="org.gbif.registry2.persistence.mapper.ContactMapper.WRITABLE_CONTACT_FIELDS"/>
  </sql>

  <!-- 
    key, created_by and created are never changed
   -->
  <sql id="CONTACT_UPDATE">
    name = #{name, jdbcType=VARCHAR}, 
    description = #{description, jdbcType=VARCHAR}, 
    position = #{position, jdbcType=VARCHAR}, 
    email = #{email, jdbcType=VARCHAR}, 
    phone = #{phone, jdbcType=VARCHAR}, 
    organization = #{organization, jdbcType=VARCHAR}, 
    address = #{address, jdbcType=VARCHAR}, 
    city = #{city, jdbcType=VARCHAR}, 
    province = #{province, jdbcType=VARCHAR}, 
    country = #{country, jdbcType=CHAR}, 
    postalCode = #{postalCode, jdbcType=VARCHAR},
    modified = now(),    
    modified_by = #{modifiedBy}
  </sql>
  
  <sql id="WRITABLE_CONTACT_FIELD_TYPES">
    #{name, jdbcType=VARCHAR}, 
    #{description, jdbcType=VARCHAR}, 
    #{position, jdbcType=VARCHAR},
    #{email, jdbcType=VARCHAR}, 
    #{phone, jdbcType=VARCHAR}, 
    #{organization, jdbcType=VARCHAR}, 
    #{address, jdbcType=VARCHAR}, 
    #{city, jdbcType=VARCHAR}, 
    #{province, jdbcType=VARCHAR}, 
    #{country, jdbcType=CHAR}, 
    #{postalCode, jdbcType=VARCHAR},
    now(), <!-- created -->
    #{createdBy},
    now(), <!-- modified -->
    #{modifiedBy}
  </sql>

  <insert id="createContact" parameterType="Contact" useGeneratedKeys="true" keyProperty="key">
    INSERT INTO contact(<include refid="WRITABLE_CONTACT_FIELDS"/>)
    VALUES(<include refid="WRITABLE_CONTACT_FIELD_TYPES"/>)
  </insert>
</mapper>