<h4>{{typeLabel}} contacts</h4> 

<a href="" ng-click="editing = true">create new</a>
<form ng-show="editing" novalidate class="form-horizontal">
  
  
  <fieldset ng-show="editing" novalidate class="control-group">
	<ng-include src=" 'app/common/contact-form.tpl.html'"></ng-include>
    <div class="form-actions">
      <button class="btn primary-btn" ng-click="editing = false">Cancel</button>
      <button class="btn primary-btn" ng-click="save(machinetag)" type="submit">Save</button>
    </div>            
  </fieldset>  
</form>

<hr/>    
<ul class="unstyled list-hover" ng-ctrl="ContactCtrl">
  <div data-ng-repeat="contact in contacts">
    <li>
      <strong>{{contact.firstName}} {{contact.lastName}}</strong> <span class="muted"><small>{{contact.type | lowercase}}</small></span><br/>
      <span class="muted"><small>Created {{contact.created | timeAgo}} by {{contact.creator || "anonymous"}}</small></span>
      <small><a ng-click="delete(contact)" class="pull-right" href="">Delete this contact</a></small>
    </li>
    
    <li ng-show="NEVER" ng-submit="editing = false">
    
<form id="contactEdit" novalidate class="form-horizontal">
  <fieldset ng-show="editing" novalidate class="control-group">
    <ng-include src=" 'app/common/contact-form.tpl.html'"></ng-include>
    <div class="form-actions">
      <button class="btn primary-btn" ng-click="editing = false">Cancel</button>
      <button class="btn primary-btn" ng-click="save(machinetag)" type="submit">Save</button>
    </div>            
  </fieldset>  
  
  <button class="btn primary-btn" ng-click="cancelEdit($index)">Cancel</button>
  <button class="btn primary-btn" ng-click="save(contact)" type="submit">Save</button><br/>
  <small><a href="">Delete this contact</a></small>

    </li>
    
   </div>
 </ul>