<h4>{{$state.current.heading}}</h4> 

<a href="" ng-click="createNew = true">create new</a>
<form ng-show="createNew" novalidate class="form-horizontal">
  <ng-include src=" 'app/common/contact-form.tpl.html'"></ng-include>
</form>

<hr/>    
<ul class="unstyled list-hover" ng-ctrl="ContactCtrl">
  <div data-ng-repeat="contact in contacts">
    <li ng-hide="editContact[$index]" ng-click="edit($index)">
      <strong><a href="">{{contact.firstName}} {{contact.lastName}}</a></strong> <span class="muted"><small>{{contact.type | lowercase}}</small></span><br/>
      <span class="muted"><small>Created {{contact.created | timeAgo}} by {{contact.creator || "anonymous"}}</small></span>
      <small><a ng-click="delete(contact)" class="pull-right" href="">Delete this contact</a></small>
    </li>
    
    <li ng-show="editContact[$index]">
      <form novalidate class="form-horizontal">
        <ng-include src=" 'app/common/contact-form.tpl.html'"></ng-include>
      </form>
    </li>
   </div>
 </ul>