<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.gbif.registry.ims.ImsNodeMapper">
  
  <!-- Auto-mapping and eager loading of sub resources  -->
  <resultMap id="NODE_MAP" type="Node" autoMapping="true">
    <id property="country" column="country"/>
    <result property="participantSince" column="participantSince" typeHandler="org.gbif.registry.ims.ParticipantSinceTypeHandler"/>
    <collection property="contacts" column="imsId" select="listContacts"/>
  </resultMap>
  
  <!-- Auto-mapping and eager loading of sub resources  -->
  <resultMap id="CONTACT_MAP" type="Contact" autoMapping="true">
    <id property="key" column="cid"/>
    <result property="position" column="job_position" />
  </resultMap>

  <select id="get" resultType="Node" resultMap="NODE_MAP">
SELECT p."__kp_ID" AS imsId, c.ISO2 AS country, n.Name_Full AS title, n.Name_Acronym AS abbreviation, n.URL AS homepage,
  p.Member_AsOf AS participantSince, p.PublicDescription AS description,
  p.zz__Modified_Timestamp__lxm AS modified,
  i.Name AS institution, i.Address AS address, i.City AS city, i.ZipCode AS postalCode, i.State AS province, i.Telephone AS phone, i.Email AS email,
  p.GBIFmembership, r.Region
FROM "__Node" n
  JOIN "__Participant" p ON n."_kf_ParticipantID" = p."__kp_ID"
  JOIN "__Region" r ON p."_kf_RegionID" = r."__kp_ID"
  JOIN "__Country" c ON p."_kf_CountryID" = c."__kp_ID"
  JOIN "__Institution" i ON p."_kf_InstitutionID" = i."__kp_ID"

WHERE (GBIFmembership='Voting Participant' OR GBIFmembership='Associate Country Participant') AND p."__kp_ID" = #{imsId}
  </select>

  <!--
   This SQL relies on stable group ids in the IMS !!!
   The groups denoted in the where filter represent:
     node staff
     voting participant
     associate country participant
     other associate participant
  -->
  <select id="listContacts" resultType="Contact" resultMap="CONTACT_MAP">
      SELECT pc."_kf_ContactID" AS cid, gr."_kf_GroupID", pc."_kf_ParticipantID", pc."_kf_NodeID",
           c.Name_First AS first_name, c.Name_Last AS last_name, gr.Name AS type,
           c.Address, c.City, c.ZipCode, ca.ISO2 AS country, i.Name_Full__lct AS organization,
           c.Email AS email, c.Fax, c.Phone_And_Phone__lct AS phone, c.URL AS homepage,
           c.Job_Position AS job_position, c.Job_Description AS description,
           c."zz__Created_Account__lxt" AS created_by, c."zz__Created_Timestamp__lxm" AS created,
           c."zz__Modified_Account__lxt" AS modified_by, c."zz__Modified_Timestamp__lxm" AS modified
      FROM "__Node" n
      JOIN "__ContactGrouproleNodeParticipant" pc ON (n."_kf_ParticipantID" = pc."_kf_ParticipantID" OR n."__kp_ID" = pc."_kf_NodeID")
        JOIN "__Contact" c ON pc."_kf_ContactID" = c."__kp_ID"
        LEFT JOIN "__Grouprole" gr ON pc."_kf_GrouproleID" = gr."__kp_ID"
        LEFT JOIN "__Country" ca ON c."_kf_CountryID_Address" = ca."__kp_ID"
        LEFT JOIN "__Institution" i ON c."_kf_InstitutionID" = i."__kp_ID"
      WHERE pc.Active!=0 AND (c.OnTheWeb is null OR c.OnTheWeb!=0) AND gr."_kf_GroupID" in (11,12,13,31) AND n."_kf_ParticipantID" = #{imsId}
      ORDER BY 7,1
  </select>

</mapper>