<div>
  <h3>Registry <small> administration console</small></h3>
</div>
<ul id="tabs" class="nav nav-tabs">
  <li><a href="#home" data-toggle="tab">Home</a></li>
  <li><a href="#node-search" data-toggle="tab">Nodes</a></li>
  <li><a href="#organization-search" data-toggle="tab">Organizations</a></li>
  <li><a href="#dataset-search" data-toggle="tab">Datasets</a></li>
  <li><a href="#installation-search" data-toggle="tab">Installations</a></li>
  <li class="dropdown">
    <a href="#more" class="dropdown-toggle" data-toggle="dropdown">More... <b class="caret"></b></a>
    <ul class="dropdown-menu">
			<li class="nav-header">Create a new...</li>
			<li><a href="#node-create">Node</a></li>
			<li><a href="#organization-create">Organization</a></li>
			<li><a href="#dataset-create">Dataset</a></li>
			<li><a href="#installation-create">Installation</a></li>
			<li class="divider"></li>
			<li class="nav-header">Miscellaneous</li>
			<li><a href="#pending-endorsements">Pending endorsements</a></li>
    </ul>
  </li>
</ul>