<span class="lead">Create a new node</span> 
<p class="muted">...or cancel and <a href="#node-search">go back to node search</a></p>
<p><span class="label label-info">Note</span> Once created, you can add identifiers, tags, contacts, services etc...</p>
  <form id="new-node">
    <fieldset>
      <label>Title</label>
      <input type="text" name="title" placeholder="Title..."></input>
      <!--span class="help-block">Put a meaningful title</span-->
      <label>Description</label>
      <textarea name="description" placeholder="Description..."></textarea>
      <label>Language</label>
      <input type="text" name="language" placeholder="Language..." value="ENGLISH"></input>
      <label>Country</label>
      <input type="text" name="country" placeholder="Country..." value="UNITED_KINGDOM"></input>
      <p>
        <button class="btn cancel">Cancel</button>
        <button type="submit" class="btn submit">Save</button>
      </p>
    </fieldset>
  </form>
