<div class="span4">
    
  <div class="content">
    <a target="_blank" href="http://uat.gbif.org/node/{{$stateParams.nodeKey}}"><h5 ui-view="title">&nbsp;</h5></a>
    <p class="muted"><small>View the node on the public portal</small></p> 
  </div>
  
  <ul class="nav side-nav nav-tabs nav-stacked">
    <li class="active"><a href="#">Overview <i class="icon-chevron-right"></i></a></li>
    <li><a href="#">Contacts (12) <i class="icon-chevron-right"></i></a></li>
    <li><a href="#">Tags (0) <i class="icon-chevron-right"></i></a></li>
    <li><a href="#">Machine tags (0) <i class="icon-chevron-right"></i></a></li>
    <li><a href="#">Comments (0) <i class="icon-chevron-right"></i></a></li>
    <li><a href="#" class="alert-error"><i class="icon-warning-sign"></i> Pending endorsements (1)<i class="icon-chevron-right"></i></a></li>
    <li><a href="#">Endorsed organisations (3) <i class="icon-chevron-right"></i></a></li>
    <li><a href="#">Endorsed datasets (323) <i class="icon-chevron-right"></i></a></li>
    <li><a href="#">Change history (12) <i class="icon-chevron-right"></i></a></li>
  </ul>
</div>
<div class="span8">
  <div class="content" ui-view></div>
</div>
