<div class="span4">

  <ul class="nav side-nav nav-tabs nav-stacked">
    <li><a href="#">Everything <i class="icon-chevron-right"></i></a></li>
    <li><a href="#">Organizations <i class="icon-chevron-right"></i></a></li>
    <li><a href="#">Datasets <i class="icon-chevron-right"></i></a></li>
    <li><a href="#">Installations <i class="icon-chevron-right"></i></a></li>
    <li class="active"><a href="#">Nodes <i class="icon-chevron-right"></i></a></li>
  </ul>

</div>
<div class="span8">
  <div class="content">

Results matching <strong><em>UK</em></strong>

<div class="btn-group pull-right">
      <a class="btn dropdown-toggle">
        Setup
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
          <li><a>Most recently modified first</a></li>
          <li><a>Most recently created first</a></li>
          <li><a>Alphabetically ordered by title</a></li>
      </ul>
  </div>
  <br/><br/> 
  <h4>Nodes</h4> 
<hr/>

<ul class="unstyled list-hover">
<div data-ng-repeat="node in nodes.results">
<li ng-click="nodeDetail(node)">
  <strong><a href="">{{node.title}}</a></strong> <span class="muted"><small>a {{node.participationStatus | lowercase}} {{node.type | lowercase}} participant</small></span> <span class="muted pull-right"><small>{{node.modified | timeAgo}}</small></span><br/>
   {{node.description}}<br/>
   <span class="muted"><small>Created {{node.created | timeAgo}} by {{node.creator || "anonymous"}}</small></span>
</li>
</div>
</ul>
<ul class="pager">
  <li><a href="#">Load more results</a></li>
</ul>



  
  </div>
</div>

